// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bulma
// @import '~bulma/bulma';
// Bulma
// @import "node_modules/bulma-extensions/bulma-carousel/dist/css/bulma-carousel.min";
// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
// Bootstrap
// @import 'node_modules/bootstrap-vue/src/index.scss';
// Base
// @import 'base/reset';
// @import 'base/base';
// @import 'base/helpers';
// @import 'base/typography';
// @import 'base/utility';
// Components
// @import 'components/breadcrumbs';
// @import 'components/buttons';
// @import 'components/section-description';
// @import 'components/sidebar';
// @import 'components/might-like';
// @import 'components/form';
// @import 'components/alerts';
// @import 'components/pagination';
// @import 'components/search';
// @import 'components/tables';
// @import 'components/badge';
// Layout
// @import 'layout/header';
// @import 'layout/footer';
// Pages
// @import 'pages/landing-page';
// @import 'pages/shop';
// @import 'pages/product';
// @import 'pages/cart';
// @import 'pages/checkout';
// @import 'pages/thankyou';
// @import 'pages/search-results';
// @import 'pages/search-results-algolia';
// @import 'pages/auth';
// @import 'pages/my-profile';
// @import 'pages/my-orders';
.router-link-exact-active {
    background: #39f;
    color: #fff;
    text-shadow: none;
}

li.nav-item a.nav-link.router-link-exact-active {
    color: #d89522;
    background: #fff;
}

// .navbar-cos {
//     background: rgba(217, 198, 146, 0.6);
// }
// .navbar-cos .navbar-brand {
//     color: #553805;
// }
// .is-primary strong {
//     color: #fff;
// }
// .router-link-active {
//     background: #39f;
//     color: #fff;
//     text-shadow: none;
// }